/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET */
/* MY CODE */

/* 'p' is for priority */
/* HIGHEST priority is what your eye is drawn to FIRST */
/* LOWEST priority is what your eye is drawn to LAST */
:root {
	/* Background Colors */
	--p1-bgcolor: #000; 
	--p2-bgcolor: #242424;
	--p3-bgcolor: #7a7a7a;
	--p4-bgcolor: #bdbdbd;
	--p5-bgcolor: #fff;

	/* Font Colors */
	--p1-fontcolor: #000;
	--p2-fontcolor: #242424;
	--p3-fontcolor: #7a7a7a;
	--p4-fontcolor: #bdbdbd;
	--p5-fontcolor: #fff;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: var(--p5-bgcolor);
}

footer {
	background-color: var(--p2-bgcolor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: var(--p5-bgcolor);
	font-size: 15px;
	height: 500px;
}

nav {
	display: flex;
	justify-content: center;
}

nav ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

nav li {
	display: flex;
	align-items: center;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

.horizontal-flex {
	display: flex;
	width: 100%;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
}

.searchbar-container {
	display: flex;
	align-items: center;
	margin-right: 50px;
}

.searchbar {
	width: 200px;
	height: 40px;
	border-radius: 5px;
	display: flex;
}
.searchbar-input {
	border: none;
	border-radius: 0 5px 5px 0;
}

.btn-base {
	border-radius: 5px;
}

.btn-big {
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	border-radius: 8px;
	padding: 10px;
}

.btn-card {
	margin: 25px 25px 0 25px;
}

.aside-header {
	text-align: center;
}

.aside-bodytext {
	text-align: center;
}

.toolbar-base {
	display: flex;
	width: 100vw;
	justify-content: space-between;
}

.toolbar-main {
	background-color: var(--p3-bgcolor);
}

.toolbar-alt {
	background-color: var(--p4-bgcolor);
}

.nav-primary {
	height: 75px;
	width: 70%;
	align-items: center;
	margin-left: 50px;
}

.nav-secondary {
	height: 50px;
	width: 100%;
	align-items: center;
}

.primary-nav-list {
	background-color: var(--p5-bgcolor);
}

.primary-toolbar-item-base {
	font-size: 24px;
	font-weight: 900;
}

.primary-toolbar-item-anchor {
	padding: 10px;
}

.primary-toolbar-item-btn {
	margin-left: 10px;
}

.secondary-nav-item {
	font-size: 15px;
	font-weight: 800;
	padding: 8px;
	background-color: var(--p2-bgcolor);
	border-radius: 5px;
}

.search-btn {
    background: white;
    border: none;
	border-radius: 5px 0 0 5px;
    padding: 0;
    cursor: pointer;
}

.icon-extra-large {
	height: 125px;
}

.icon-large {
	height: 75px;
}

.icon-extra-small {
	height: 16px;
}

.magazine-topics-list {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.magazine-topics-item {
	flex-basis: 9%;
	font-size: 18px;
	padding: .3em 0 1em 40px;
	background-image: url('../images/icons/bullet-icon.svg');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 10% 30%;
	display: flex;
	align-items: center;
}

.col-one-third {
	width: 33.33%;
	display: flex;
	justify-content: center;
}

.col-two-thirds {
	width: 66.66%;
}

.uppercase {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

a:link.footer-link {
	text-decoration: underline;
}

.footer-notes {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 50%;
}

.footer-note {
	text-align: center;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 60%;
	margin: 25px 0;
}

.footer-item {
	flex-basis: 30%;
}

/* Main */

h1 {
	font-size: 24px;
	font-weight: 900;
	text-transform: capitalize;
}

.topic {
	text-transform: capitalize;
}

.author-name {
	text-transform: capitalize;
}

.featured-section {
	display: flex;

}

.featured-articles-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 70%;
	padding-left: 25px;
	line-height: 24px;
}

.featured-article-metadata-container {
	display: flex;
}

.community-article-metadata-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
}

.featured-article {
	display: flex;
}

.article-metadata-container {
	width: 80%;
}

.author-picture-container {
	display: flex;
	width: 20%;
	transform: rotate(345deg);
	justify-content: center;
}

.author-picture-p1 {
	height: 125px;
}

.author-picture-p2 {
	height: 75px;
}

.article {
	margin: 10px 0;
}

.email-signup-container {
	display: flex;
}

.email-signup-input {
	border-radius: 5px 0 0 5px;
	width: 100px;
}

.email-signup-button {
	border-radius: 0 5px 5px 0;
}

.newsletter-aside {
	display: flex;
	flex-direction: column;
	max-width: 20%;
	padding: 0 50px;
	height: 500px;
	justify-content: space-around;
	background-color: var(--p3-bgcolor);
	position: relative;
}

.footnote {
	margin-top: 10px;
	font-weight: 100;
	font-size: 12px;
	text-align: center;
	color: var(--p4-fontcolor)
}

a > img {
	vertical-align: middle;
}

.latest-posts {
	display: flex;
	flex-wrap: wrap;
	margin: 0 25px;
}

.community-article {
	flex-basis: 50%;
	display: flex;
	margin-top: 75px;
}

.more-link-container {
	padding: 50px;
	text-align: center;
}

.card-container {
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--p3-bgcolor);
	margin: 0 5px 0 5px;
	padding: 30px;
	height: 200px;
}

.more-link {
	border-bottom: 4px solid var(--p1-bgcolor);
}

a:link.card-header {
	text-decoration: underline;
}

a:link.primary-anchor {
	text-decoration: underline;
	color: var(--p2-fontcolor);
}

a:link.secondary-anchor {
	text-decoration: underline;
	color: var(--p3-fontcolor);
}

a:link.aside-link {
	text-decoration: underline;
	color: var(--p5-fontcolor);
}

time {
	font-weight: 200;
}